html, body {
  height: 100%;
}

body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10vw;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.sketchy {
  font-size: 12vh;
  font-weight: 900;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-transform: uppercase;
}

.sketchy>span {
  margin: 0 2vh;
}

.sketchy span {
  display: inline-block;
  position: relative;
}

.sketchy .letter:hover {
  animation: jiggleTown 0.1s steps(1) 0s infinite;
}

@keyframes jiggleTown {
  0% {
    top: -0.1vh;
    left: -0.2vh;
  }
  25% {
    top: 0.3vh;
    left: 0.4vh;
  }
  50% {
    top: -0.3vh;
    left: 0.3vh;
  }
  75% {
    top: 0.2vh;
    left: 0vh;
  }
  100% {
    top: 0;
    left: -0.3vh;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
